# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
python=3.7.1=h0371630_7
pytorch=1.0.1=py3.7_cuda9.0.176_cudnn7.4.2_2
torchvision=0.2.1=py_2
tqdm=4.28.1=py37h28b3542_0
